.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:lightblue;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fa-trash{
  color:rgb(67, 49, 49);
}
.fa-trash:hover{
  color: rgb(255, 3, 3);
  cursor: pointer;
}
.fa-regular{
  color:rgb(18, 2, 248);
}
.fa-regular:hover{
  color: rgb(255, 3, 3);
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
